body {
  margin: 0;
  padding: 0;
  
  background: radial-gradient(circle at center, #e5ffb8, #d4ffb8, #bcffb8, #c4e9df, #c4e2e9, #c4c5e9, #c6c4e9, #cacdf0, #d1caf0, #dfcaf0);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@font-face {
  font-family: 'PP Editorial New';
  src: url('./PP\ Editorial\ New/PPEditorialNew-Ultralight.otf');
  font-weight: 300;
}

.container {
  margin: 0;
  padding: 0;
  height: 100%;
  /* background: radial-gradient(circle at center, #e5ffb8, #bcffb8, #c4e2e9, #c4d2e9, #cacdf0); */
}

.link,
.link:hover,
.link:visited {
  color: black;
  text-decoration: none;
}

.no-margin {
  padding: 0;
  margin-bottom: .25rem;
}

.content {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.bottom-left {
  grid-column-start: 1;
  grid-row-start: 14;
}

.bottom-right {
  grid-column-start: 8;
  grid-row-start: 14;
  text-align: right;
}

.top-right {
  grid-column-start: 8;
  grid-row-start: 1;
  text-align: right;
}

.top-left {
  grid-column-start: 1;
  grid-row-start: 1;
}

.text {
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
}

.main-text {
  font-family: 'PP Editorial New';
  font-size: 2.5rem;
  width: 65%;
}

.middle {
  grid-column-start: 3;
  grid-row-start: 3;
}

.link:hover {
  cursor: grab;
}